div {
    display: flex;
    justify-content: center;
  } button{
    position: relative;
    padding: 20px 40px;
    margin: 20px 40px;
    background-color: coral;
    font-weight: bold;
    box-shadow: black 10px 10px;
  }
  button:hover{
    top: 10px;
    left: 10px;
    background-color: red;
    box-shadow: black 0 0;
  } h1{
    text-align: center;
    font-size: 120px;}
  body{
    height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png");
  background-size: cover; background-repeat: no-repeat; background-position: center;}